{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "plugin:prettier/recommended",
        "prettier/react",
        "react-app"
    ],
    "plugins": [
        "@typescript-eslint/tslint"
    ],
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "no-console": "off"
    },
    "settings": {
        "import/resolver": {
            "alias": [
                ["src", "./src"]
            ]
        }
    }
}
